* {
   margin: 0px;
   padding: 0px;
   font-family: "Open Sans";
}

body {
   box-sizing: border-box;
   background-color: lightgrey;
   background-image: url("/Assets/images/bg01.png");
   font-family: "Open Sans";
}

/* header section */
header {
   display: block;
   background-color:#1e9ff2;
}

.logos {
   display: flex;
   margin-left: 50px;
}

.logos a img {
   height: 60px;
   width: 60px;
   padding: 25px 9px;
}

.header_info {
   display: flex;
   color: white;
   margin: auto 0px;
   font-size: large;
}

/* navigation section */
.nav_items {
   display: flex;
   background-color: #FFBF00;
   border-top: 10px solid green;
}

.nav_items a {
   text-decoration: none;
   color: black;
   padding: 25px;
   font-family: sans-serif;
}

.nav_items div {
   padding: 25px;
}

.nav_items .dropUser .user_registration_dropdown, .nav_items .dropDoc .documents_dropdown {
   display: none;
   position: absolute;
   margin-top: 1.3rem; padding: 0;
   border: 1px solid black;
   border-radius: 4px;
   background-color: white;
}

.dropUser:hover .user_registration_dropdown {
   display: grid;
   border: none;
}

.user_registration_dropdown a {
   padding: 8px 3px 0px;
   margin: 0.5rem;
}

.documents_dropdown a {
   padding: 8px 3px 0px;
   margin: 0.5rem;
}

.dropDoc:hover .documents_dropdown {
   display: grid;
   border: none;
}

/*login form */

form {
   display: box-flex;
   justify-content: center;
   flex-basis: 0;
   width: 30vw;
   min-height: 60vh;
   margin: 30px auto 0px; 
   background-color: white;
   border-radius: 3px;
   box-shadow: 0px 0px 10px 2px grey;
}

.group1 {
   display: grid;
   text-align: center;
}

.group1 img {
   width: 40px;
   height: 40px;
   margin: 15px auto;
}
.group1  #p {
   margin: 10px auto 0px;
   font-size: smaller;
   color: grey;
}

#reg_info {
   color: black;
   font-size: large;
   background-color: #FC8EAC; 
   border: 1px solid red;
   height: 3rem;
   border-radius: 3px;
   margin: 40px 10px 0px;
}

.group1 input {
   height: 50px;
   border: 1px solid grey;
   border-radius: 5px;
   margin: 2px 0 2px;
   padding: 0 0 0 3rem; 
   font-size: medium;
}

#mail {
   margin:25px 10px;
}

#password {
   margin:0px 10px;
}

.group2 {
   display: flex;
   justify-content: space-between;
   margin: 0px 2px 0px;
}

.group2 .remember-me {
   display: flex;
}

.group2 a {
   text-decoration: none;
   color: #1e9ff2;
}


.group3 {
   display: grid;
   text-align: center;
}

.group3 button {
   margin: 20px 10px;
   height: 60px;
   border: none;
   border-radius: 5px;
   color: white;
   font-size: large;
   cursor: pointer;
}

.group3 p {
   font-size: smaller;
   color: grey;
}

#login {
   background-color: rgb(17, 125, 75);
}

#Register {
   background-color:#1e9ff2;
}

.group1 i {
   position: relative;
   right: 46%;
   margin: 0; padding: 0;
   transform: translateY(-2.5rem);

}

#user-icon {
   transform: translateY(-5.5rem);
}

/* register form */
.register-form ol {
   list-style: none;
}

.register-form ol > li {
   display: grid;
   text-align: center;
   margin: 0.5rem;
}

.register-form ol li input, #regPassword{
   display: grid;
   width: 70%;
   height: 1.8rem;
   margin: 0 auto;
   border-radius: 0.5rem;
   font-size: medium;
   border: 1px solid darkgray;
}

.register-form ol li input {
   padding: 0 0 0 12px;
}

#signUp {
   margin-top: 0.5rem;
   background-color: #1e9ff2;
   height: 50px;
   border: none;
   cursor: pointer;
}
